<%- include partials/head %>
<header><img src="/static/funda-logo.svg" alt="logo-funda" /></header>
<main>
  <form action="/">
    <label>
      Plaatsnaam
      <input type="text" name="locality" autocomplete="off" autofocus placeholder="Amsterdam" value="<%= reqInfo.locality %>" />
    </label>
    <label>
      Postcode
      <input type="text" name="zipcode" autocomplete="off" maxlength="6" placeholder="1098" value="<%= reqInfo.zipcode %>" />
    </label>
    <button type="submit">Zoek</button>
  </form>
  <div class="results"></div>
  <%- include('./partials/houses', {housesArray}); %>
  <% if(housesArray.length === 0) { %>
    <p class="shrug">¯\_(ツ)_/¯</p>
  <% } %>
  <div class="pagination">
    <% if(reqInfo.page > 1) { %>
      <a href="/<%= reqInfo.locality %>/<%= reqInfo.zipcode %>/<%= Number(reqInfo.page) - 1 %>">Vorige pagina</a>
    <% } %>
    <% if(!reqInfo.lastPage) { %>
      <a href="/<%= reqInfo.locality %>/<%= reqInfo.zipcode %>/<%= Number(reqInfo.page) + 1 %>">Volgende pagina</a>
    <% } %>
  </div>
</main>

<script>var __reqInfo__ = <%- JSON.stringify(reqInfo) %>;</script>
<script src="/static/main.js"></script>
